* {
	margin: 0;
	padding: 0;
	font-family: "Ubuntu Mono", sans-serif;
}

html, body {
	background-color: #00000f;
}

footer {
	position: absolute;
	bottom: 10px;
	right: 10px;
}

.footer-link {
	color: white;
	text-decoration: underline;
	margin-left: 5px
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.title {
	color: white;
	text-align: center;
	min-width: 100vmax;
	font-size: 10vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

#particles-js {
	z-index: 0;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
