extends layout

block content
	div#fullpage
		div.section
			div#particles-js
			h1.title.no-select Ben Botvinick
		div.section
			footer
				div.copyright.no-select
					i.fa.fa-copyright
					p &nbsp;Copyright 2018
					a(href="#home") &nbsp;Benjamin Botvinick
				div.social
					a(href="https://facebook.com/ben.botvinick.50", target="_blank")
						i.fa.fa-facebook
					a(href="https://instagram.com/botvinix", target="_blank")
						i.fa.fa-instagram
					a(href="https://github.com/botvinick", target="_blank")
						i.fa.fa-github
					a(href="https://barnyardfowl.com", target="_blank")
						i.fa.fa-wordpress
					a(href="mailto:ben@botvinick.io")
						i.fa.fa-envelope